---
import Layout from '@layouts/Layout.astro'
import Table from '@src/components/Table/Table.astro'
import Typography from '@src/components/Typography.astro'
import { Pages } from '@src/infrastructure/domain/pagesEnums'
import { getDataFromService } from '@src/infrastructure/http/fetchHelper'
import CarruselSection from '@src/sections/DescriptionSection.astro'
import { Picture } from 'astro:assets'

const { heading, featured, banner } = await getDataFromService(Astro.request, Pages.AWARDS)
const { gallery, awards_reference: awards } = banner
---

<Layout title='Awards - Level Group' heading={heading}>
  <CarruselSection id='carrusel' description={featured.description} gallery={featured.gallery} />

  <section class='flex w-full flex-col items-center justify-center gap-6 pb-6 md:pb-10 md:pt-4'>
    <Typography as='h4' variant='h3' color='black' class='text-center md:self-start'>
      {awards[0].name}
    </Typography>

    <Table data={awards[0].table_awards2} />
  </section>

  <Picture
    src={gallery[0]}
    formats={['avif', 'webp']}
    alt='Banner Image'
    class='w-full rounded-sm shadow-md'
    decoding='async'
    loading='lazy'
    width={1920}
    height={1080}
  />
</Layout>
